// ----------------------------------------------------------------------------
// Widget-jenkins-build styles
// ----------------------------------------------------------------------------
.widget-jenkins-build {
  background: #47A8BB;

  .title {
    color: #FFF;
  }

  .job {
    color: #FFF;
    background-color: gray;
    float: left;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    width: 94%;
    font-size: 25px
  }

  .job[data-state="blue_anime"] {
    background-color: #475F77;
  }

  .job[data-state="yellow_anime"] {
    background-color: #E9B64D;
  }

  .job[data-state="red_anime"] {
    background-color: #D74B4B;
  }

  .job[data-state="disabled"], .job[data-state="disabled_anime"], .job[data-state="aborted"], .job[data-state="aborted_anime"].job[data-state="grey"], .job[data-state="grey_anime"] {
    background-color: #DCDDD8;
    color: #333333;
  }

  table.progress-bar {
    height: 5px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }

  td.progress-bar-done {
    background-color: #DCDDD8;
    color: #333333;
    -webkit-animation:flashbuild;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
  }

  td.progress-bar-left {
    background-color: #ffffff;
  }
}

@-webkit-keyframes flashbuild
{50% {background: #144c77;}}
